.footer
	.main-container
		.footer-header
			.logo
				img(src="images/SVG/logo-w.svg" alt="")
			.slogan
				| 讓全家更健康，鹼性離子水生成器。
		.footer-body
			.sitemap
				ul
					a(href="about.html")
						li
							| 企業情報
					a(href="about.html#about")
						li
							| 關於TOYO
					a(href="about.html#feature")
						li
							| 特點介紹
					a(href="about.html#contact")
						li
							| 聯絡我們
					a(href="about.html#join")
						li
							| 成為供應商
				ul
					a(href="product.html")
						li
							| 商品情報
					a(href="preventive-products.html")
						li
							| 防疫專區
					a(href="alkaline-ionizer.html")
						li
							| 鹼性離子水生成器
					a(href="drinking-water-filtration.html")
						li
							| 生飲淨水器
					a(href="water-filtration.html")
						li
							| 居家凈水
					a(href="filters&merchandise.html")
						li
							| 濾心耗材
					a(href="home-collections.html")
						li
							| 家居選物
				ul
					a(href="qa.html")
						li
							| 常見問題
				ul
					a(href="shops.html")
						li
							| 店舖一覽
				ul
					a(href="news.html")
						li
							| 最新情報
			.social
				ul
					a(href="https://www.facebook.com/toyoautech/" target="_blank")
						li
							i.fab.fa-facebook-f
					a(href="https://www.instagram.com/toyo_water/" target="_blank")
						li
							i.fab.fa-instagram
					a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h" target="_blank")
						li
							i.fab.fa-line
					a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop');" href="https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop" target="_blank")
						li
							i.fal.fa-shopping-bag
			.info
				p
					| 地址：桃園市桃園區經國路11號6樓之1
				p
					| 免付費電話：0800-090881
				p
					| copyright © 2019 TOYO東洋歐帝克股份有限公司. All rights reserved.
