extends includes/base.pug
block variables
    - var productName = 'OMAMORI-2S'
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/2s/cover.png" alt="淨水御守 - 安心生飲淨水器 OMAMORI - 2S")
                ul.img-list.flex-box
                    li
                        img(src="images/product/2s/cover.png" alt="淨水御守 - 安心生飲淨水器 OMAMORI - 2S")
                .name 淨水御守 - 安心生飲前置淨水組 OMAMORI - 2S
                .detail
                    ul
                        li 淨水新革命，兩道安心生飲
                        li 添加日本銀離子，長效抑菌
                        li 通過台灣SGS國家生飲認證
                        li 濾材符合美國NSF42標準、美國FDA檢測項目、日本食品分析中心JFRL認證
                    p
                        img(src="images/product/2s/intro-1.jpg" alt="健康淨水生飲新革命")
                    p
                        img(src="images/product/2s/intro-2.jpg" alt="安心生飲淨水組")
                    p
                        img(src="images/product/2s/intro-3.jpg" alt="日本配方雜質御守濾心 日本原裝全效能御守濾心")
                    p
                        img(src="images/product/2s/intro-4.jpg" alt="淨水新革命 2道安心生飲")
                    p
                        img(src="images/product/2s/intro-5.jpg" alt="濾料三大核心技術 除氯抑菌更安心")
                    p
                        img(src="images/product/2s/intro-6.jpg" alt="日本銀離子 長效抑菌")
                    p
                        img(src="images/product/2s/intro-7.jpg" alt="日本GE-Techno陶瓷濾料 濾除塑膠微粒")
                    p
                        img(src="images/product/2s/intro-8.jpg" alt="小宅租屋族首選淨水組")
                    p
                        img(src="images/product/2s/intro-9.jpg" alt="日式御守設計")
                    p
                        img(src="images/product/2s/intro-10.jpg" alt="淨水御守組合外箱")
                    .ct
                        .price 建議售價：7800元
                        a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/product/OMAMORI-2S/');" href="https://www.rakuten.com.tw/shop/toyo-autech/product/OMAMORI-2S/")
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5 商品描述
                p
                    | 淨水御守 - 安心生飲前置淨水組
                    br
                    |                     OMAMORI - 2S
                    br
                    |                     家裡喝的水,淨水御守全面守護。
                    br
                    br
                    |                     通過台灣SGS國家生飲認證、濾材符合美國NSF42標準、美國FDA檢測項目、日本食品分析中心JFRL認證。
                    br
                    |                     添加日本銀離子，長效益菌更安心。
                    br
                    br
                    |                     【濾料日本原裝  三大核心技術】
                    br
                    |                     - 日本GE-Techno陶瓷濾料
                    br
                    |                     - 日本GE-Techno銀離子活性碳纖維
                    br
                    |                     - 日本エルベス不織布
                    br
                    |                     可以除菌抑菌、濾除三氯甲烷、揮發性有機物、有害化學物質、水中重金屬鉛、銅、汞、石綿、農藥、泥沙雜質、塑膠微粒等，過濾孔徑為1Microns。
                    br
                    br
                    |                     - 日式御守設計，櫥上櫥下都適合
                    br
                    |                     - 濾心長效，安裝快速，操作簡單
                    br
                    |                     - TOYO原廠保固
                    br
                    |                     - 定時提醒濾心更換
                    br
                    |                     - 25年售後服務經驗
            .main-box
                h5
                    | 商品內容
                p
                    | OMAMORI - 2S 淨水御守 - 安心生飲前置淨水組
                    br
                    |                     OMAMORI - PA 雜質御守濾心 X 1
                    br
                    |                     OMAMORI - JC 全效能御守濾心 X 1
                    br
                    br
                    |                     其他配件:
                    br
                    |                     彎頭 X2、螺絲 X2、吊片 X1、螺絲壁塞 X2、御守保養紀錄卡 X1
            .product-info.main-box
                h5 商品規格
                p
                    img(src="images/product/2s/spec.png" alt="商品規格" style="max-width: 100%;")
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle
                            |  常見問題
                    a(target="_blank" href="https://drive.google.com/open?id=1HCrrVoQtIWlk0vzdjTgHMuLDIJO79GvS")
                        .action-btn
                            i.fal.fa-wrench
                            |  操作手冊
            .main-box
                h5 週邊配件
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src="images/product/others/faucet-2.png" alt="無壓式淨水龍頭")
                        p 無壓式淨水龍頭
                    .flex-2
                        img(src="images/product/others/faucet-1.png" alt="免鑽孔切換式龍頭")
                        p 免鑽孔切換式龍頭
                    .flex-2
                        img(src="images/product/others/PA.png" alt="OMAMORI - PA")
                        p OMAMORI - PA
                    .flex-2
                        img(src="images/product/others/JC.png" alt="OMAMORI - JC")
                        p OMAMORI - JC
