extends includes/base.pug
block variables
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop`
block js
    script(src="./js/product.js")

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")

        .main-container
            .main-title
                .title 商品情報
                div(class="grid__item-letter" data-blotter="")
                    span(class="content__text-inner") PRODUCT
                i.fas.fa-tint
            ul.list-product
                li
                    a(href="product.html") 全部商品
                li 
                    a(href="preventive-products.html") 防疫專區
                li      
                    a(href="alkaline-ionizer.html") 鹼性離子水生成器
                li      
                    a(href="drinking-water-filtration.html") 生飲淨水器
                li   
                    a(href="water-filtration.html") 居家凈水
                li
                    a(href="filters&merchandise.html") 濾心耗材
                li  
                    a(href="home-collections.html") 家居選物
            .main-box.product-box
                #product4
                    ul
                        li 濾心耗材
                    .flex-box
                        .each-product.flex-3
                            a(href="TA-1100.html")
                                img(src="images/product/TA-1100/cover.png" alt="TA-1100")
                            .title
                                a(href="TA-1100.html") TW-308及TW-H1專用主體濾心TA-1100
                        .each-product.flex-3
                            a(href="TA-1200.html")
                                img(src="images/product/TA-1200/cover.png" alt="TA-1200")
                            .title
                                a(href="TA-1200.html") TW-508專用主體濾心TA-1200
                        .each-product.flex-3
                            a(href="TA-800T.html")
                                img(src="images/product/filter/TA-800T.png" alt="TYH/IE系列-日本機型主體濾心 TA-800T")
                            .title
                                a(href="TA-800T.html") TYH/IE系列-日本機型主體濾心<br>TA-800T
                        .each-product.flex-3
                            a(href="MW-7000C.html")
                                img(src="images/product/filter/MW-7000C.png" alt="TYH/IE系列-日本原裝主體濾心 MW-7000C")
                            .title
                                a(href="TA-800T.html") TYH/IE系列-日本原裝主體濾心<br>MW-7000C
                        .each-product.flex-3
                            a(href="T8-C.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_220h_220/jpg/1501826585.jpg" alt="T-8專用濾心")
                            .title
                                a(href="T8-C.html") T-8專用濾心
                        .each-product.flex-3
                            a(href="OMAMORI-PA.html")
                                img(src="images/product/filter/OMAMORI-PA.png" alt="淨水御守-雜質御守濾心 OMAMORI-PA")
                            .title
                                a(href="OMAMORI-PA.html") 淨水御守-雜質御守濾心<br>OMAMORI-PA
                        .each-product.flex-3
                            a(href="OMAMORI-JC.html")
                                img(src="images/product/filter/OMAMORI-JC.png" alt="淨水御守-全效能御守濾心 OMAMORI-JC")
                            .title
                                a(href="OMAMORI-JC.html") 淨水御守-全效能御守濾心<br>OMAMORI-JC
                        .each-product.flex-3
                            a(href="OMAMORI-PAP.html")
                                img(src="images/product/pap/cover.png" alt="淨水御守-抑垢御守濾心 OMAMORI-PAP")
                            .title
                                a(href="OMAMORI-PAP.html") 淨水御守-抑垢御守濾心<br>OMAMORI-PAP
                        .each-product.flex-3
                            a(href="TA-801.html")
                                img(src="images/product/ta-801/cover.png" alt="長效型複合式生飲濾心 TA-801")
                            .title
                                a(href="TA-801.html") 長效型複合式生飲濾心 TA-801
                        .each-product.flex-3
                            a(href="TA-801P.html")
                                img(src="images/product/ta-801p/cover.png" alt="抑垢複合式生飲濾心 TA-801 ")
                            .title
                                a(href="TA-801P.html") 長效型複合式生飲濾心 TA-801P
                        .each-product.flex-3
                            a(href="TA-903.html")
                                img(src="images/product/filter/TA-903.png" alt="TA-903 PP棉濾心")
                            .title
                                a(href="TA-903.html") TA-903 PP棉濾心
                        .each-product.flex-3
                            a(href="TA-903-2.html")
                                img(src="images/product/filter/TA-903-2.png" alt="TA-903 銀添活性碳濾心")
                            .title
                                a(href="TA-903-2.html") TA-903 銀添活性碳濾心
                        .each-product.flex-3
                            a(href="TA-903-3.html")
                                img(src="images/product/filter/TA-903-3.png" alt="TA-903 樹脂濾心")
                            .title
                                a(href="TA-903-3.html") TA-903 樹脂濾心
                        .each-product.flex-3
                            a(href="TA-101.html")
                                img(src="images/product/ta-101/cover.png" alt="除氯省水蓮蓬頭 濾心2入組 TA-101")
                            .title
                                a(href="TA-101.html") 除氯省水蓮蓬頭 濾心2入組 TA-101
