extends includes/base.pug
block variables
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop`
block js
    script(src="./js/product.js")

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")

        .main-container
            include ./product-header.pug
            .main-box.product-box
                #product4
                    ul
                        li 防疫專區
                    .flex-box
                        .each-product.flex-3
                            a(href="M1.html")
                                img(src="images/product/M1/cover.png" alt="好心機律動健康椅 M1 Vita")
                            .title
                                a(href="M1.html") 好心機律動健康椅 M1 Vita
                        .each-product.flex-3
                            a(href="pot.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1556028484.jpg" alt="耐高溫玻璃冷水壺")
                            .title
                                a(href="pot.html") 耐高溫玻璃冷水壺
                        .each-product.flex-3
                            a(href="bottle.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1562225907.jpg" alt="戶外休閒環保雙層玻璃水瓶")
                            .title
                                a(href="bottle.html") 戶外休閒環保雙層玻璃水瓶
                        
