extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'
    - var bodyId = 'index'
block js
    script(src="./js/index.js")

block content
    .main
        .kv
            .main-container
                h1
                    | 日本からの健康に良い水
                    br
                    br
                    | 讓全家更健康
                    br
                    | 鹼性離子水生成器
                p
                    | 健康。美容。環境友善
            .mouse
                .scroll
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 24 150 28" preserveaspectratio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")
        .main-container.index-about.invisible
            .grid__item-letter(data-blotter="")
                span.content__text-inner 不只是淨水
            h4 更是你的家庭守護者
            .circle-container
                .circle
                    .elemental.active
                        i.fal.fa-bolt
                    .elemental
                        i.far.fa-chart-network
                    .elemental
                        i.far.fa-stars
                    .elemental
                        i.far.fa-dewpoint
                    .elemental
                        i.fal.fa-atom-alt
                    .elemental
                        i.far.fa-h2
                    .circle-inside
                        ul
                            li.invisible.show
                                .title 含負電位
                                i.fal.fa-bolt
                                p
                                    | 即氧化還元電位
                                    br
                                    | 有助於中和體內自由基
                            li.invisible
                                .title 水分子團小
                                i.far.fa-chart-network
                                p
                                    | 滲透性高
                                    br
                                    | 能快速吸收
                            li.invisible
                                .title 多重潔淨
                                i.far.fa-stars
                                p
                                    | 水中不含雜質、重金屬及
                                    br
                                    | 其他污染，口感極佳
                            li.invisible
                                .title 水呈鹼性
                                i.far.fa-dewpoint
                                p
                                    | pH值呈現弱鹼性
                                    br
                                    | 幫助調整體質
                            li.invisible
                                .title 含礦物質
                                i.fal.fa-atom-alt
                                p
                                    | 礦物質離子化
                                    br
                                    | 易於人體吸收
                            li.invisible
                                .title 富含氫分子
                                i.far.fa-h2
                                p
                                    | 水中氫分子能中和
                                    br
                                    | 體內過多的活性氧
            a(href="about.html")
                .action-btn 了解更多
        .main-container
            .main-title
                .title 商品情報
                .grid__item-letter(data-blotter="")
                    span.content__text-inner PRODUCT
                i.fas.fa-tint
            .main-box.product-box
                ul
                    li.active 防疫專區
                    li 鹼性離子水生成器
                    li 生飲淨水器
                    li 居家凈水
                    li 濾心耗材
                    li 家居選物
                .index-product-list
                    .flex-box.show
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="鹼性離子水超酸水生成器TYH-202")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-508.html")
                                img(src="images/product/TW-508/cover.png" alt="鹼性離子水生成器TW-508")
                            .title
                                a(href="TW-508.html") 鹼性離子水生成器TW-508
                        .each-product.flex-3.mij
                            a(href="superwater.html")
                                img(src="images/product/sw/cover.png" alt="Super Water mini次氯酸水生成器")
                            .title
                                a(href="superwater.html") Super Water mini次氯酸水生成器
                    .flex-box
                        .each-product.flex-3.mij
                            a(href="TYH--71GS.html")
                                img(src="images/product/TYH-71GS/cover.png" alt="鹼性離子水生成器TYH-71GS")
                            .title
                                a(href="TYH--71GS.html") 鹼性離子水生成器TYH-71GS
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="鹼性離子水超酸水生成器TYH-202")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-H1.html")
                                img(src="images/product/TW-H1/cover.png" alt="還元水素水生成器TW-H1")
                            .title
                                a(href="TW-H1.html") 還元水素水生成器TW-H1
                    .flex-box
                        .each-product.flex-3
                            a(href="3SF.html")
                                img(src="images/product/3SF/3SF.png" alt="淨水御守 - 全效能生飲淨水器 OMAMORI - 3SF")
                            .title
                                a(href="3SF.html") 淨水御守 – 全效能生飲淨水器 OMAMORI - 3SF
                        .each-product.flex-3
                            a(href="3S.html")
                                img(src="images/product/3S/3S.png" alt="淨水御守 – 全效能生飲前置淨水組 OMAMORI - 3S")
                            .title
                                a(href="3S.html") 淨水御守 – 全效能生飲前置淨水組 OMAMORI - 3S
                        .each-product.flex-3
                            a(href="2SF.html")
                                img(src="images/product/2sf/cover.png" alt="淨水御守 - 安心生飲淨水器 OMAMORI - 2SF")
                            .title
                                a(href="2SF.html") 淨水御守 - 安心生飲淨水器 OMAMORI - 2SF
                    .flex-box
                        .each-product.flex-3
                            a(href="filter.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_220h_220/jpg/1428901722.jpg" alt="全戶式過濾器")
                            .title
                                a(href="filter.html") 全戶式過濾器
                        .each-product.flex-3.mij
                            a(href="shower.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1385515652.jpg" alt="ECO除氯沐浴器")
                            .title
                                a(href="shower.html") ECO除氯沐浴器
                    .flex-box
                        .each-product.flex-3
                            a(href="TA-1100.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1501826809.jpg" alt="W-308及TW-H1專用主體濾心TA-1100")
                            .title
                                a(href="TA-1100.html") TW-308及TW-H1專用主體濾心TA-1100
                        .each-product.flex-3
                            a(href="TA-1200.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1501826838.jpg" alt="TW-508專用主體濾心TA-1200")
                            .title
                                a(href="TA-1200.html") TW-508專用主體濾心TA-1200
                        .each-product.flex-3
                            a(href="TA-800T.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1497429038.jpg" alt="TYH/IE系列-日本機型主體濾心 TA-800T")
                            .title
                                a(href="TA-800T.html") TYH/IE系列-日本機型主體濾心<br>TA-800T
                    .flex-box
                        .each-product.flex-3
                            a(href="pot.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1556028484.jpg" alt="耐高溫玻璃冷水壺")
                            .title
                                a(href="pot.html") 耐高溫玻璃冷水壺
                        .each-product.flex-3
                            a(href="bottle.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1562225907.jpg" alt="戶外休閒環保雙層玻璃水瓶")
                                .title
                                    a(href="bottle.html") 戶外休閒環保雙層玻璃水瓶
                a(href="shops.html")
                    .action-btn.reverse-action-btn 店舖一覽
                a(href="product.html")
                    .action-btn 更多商品
        .main-container
            .left-box
                h2.eng TOYO, A Healthy Choice For Family
                p TOYO東洋歐帝克致力於打造舒適的質感生活，為用戶帶來健康又安全的飲水保健系列商品。
                .flex-box.flex-space-between
                    .awards
                        img(src="images/SVG/about-1.svg" alt="")
                        p 服務經銷據點超過50個
                    .awards
                        img(src="images/SVG/about-2.svg" alt="")
                        p 服務累計超過16萬戶
                    .awards
                        img(src="images/SVG/about-3.svg" alt="")
                        p 日本製造技術63年
                    .awards
                        img(src="images/SVG/about-4.svg" alt="")
                        p 台灣在地服務25年
            hr
            .left-box.right-box
                h2 我們提供的不只是商品
                p 持續的維護保養，才能使商品使用的更久，讓我們為您的生活品質把關，也為地球盡一份心力
                .flex-box.flex-space-between
                    .service
                        i.far.fa-home
                        p 用水免費諮詢
                    .service
                        i.far.fa-comments-dollar
                        p 客製化預算規劃
                    .service
                        i.far.fa-alarm-clock
                        p 濾心更換提醒
                    .service
                        i.far.fa-tools
                        p 保養維修服務
        .main-container
            .main-title
                .title 最新情報
                .grid__item-letter(data-blotter="")
                    span.content__text-inner NEWS
                i.fas.fa-tint
            .flex-box
                .flex-2
                    .main-box.news-box
                        a(href="news-inner-12.html")
                            img(src="images/news/news-12.jpg" alt="【4月兒童節連假首選》台北世貿婦幼展 免費索票")
                        p.time 2021-03-20
                        a(href="news-inner-10.html")
                            .title 【4月兒童節連假首選》台北世貿婦幼展 免費索票
                        p.description 展場特惠組贈送萬元家電! 點入文章了解更多。
                .flex-2
                    .main-box.news-box
                        a(href="news-inner-11.html")
                            img(src="images/news/news-11.jpg" alt="TOYO  網路銷售【原廠授權標章】")
                        p.time 2021-01-01
                        a(href="news-inner-11.html")
                            .title TOYO  網路銷售【原廠授權標章】
                        p.description 請使用原廠濾心並定期更換，避免影響機器使用壽命、居家飲水品質及安全。
            a(href="news.html")
                .action-btn 情報一覽
