extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'
    - var bodyId = 'index'
block js
    script(src="./js/index.js")

block content
    .main
        .kv
            .main-container
                h1
                    | 日本からの健康に良い水
                    br
                    br
                    | 讓全家更健康
                    br
                    | 鹼性離子水生成器
                p
                    | 健康。美容。環境友善
            .mouse
                .scroll
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 24 150 28" preserveaspectratio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")
        .main-container.index-about.invisible
            .grid__item-letter(data-blotter="")
                span.content__text-inner 不只是淨水
            h4 更是你的家庭守護者
            .circle-container
                .circle
                    .elemental.active
                        i.fal.fa-bolt
                    .elemental
                        i.far.fa-chart-network
                    .elemental
                        i.far.fa-stars
                    .elemental
                        i.far.fa-dewpoint
                    .elemental
                        i.fal.fa-atom-alt
                    .elemental
                        i.far.fa-h2
                    .circle-inside
                        ul
                            li.invisible.show
                                .title 含負電位
                                i.fal.fa-bolt
                                p
                                    | 即氧化還元電位
                                    br
                                    | 有助於中和體內自由基
                            li.invisible
                                .title 水分子團小
                                i.far.fa-chart-network
                                p
                                    | 滲透性高
                                    br
                                    | 能快速吸收
                            li.invisible
                                .title 多重潔淨
                                i.far.fa-stars
                                p
                                    | 水中不含雜質、重金屬及
                                    br
                                    | 其他污染，口感極佳
                            li.invisible
                                .title 水呈鹼性
                                i.far.fa-dewpoint
                                p
                                    | pH值呈現弱鹼性
                                    br
                                    | 幫助調整體質
                            li.invisible
                                .title 含礦物質
                                i.fal.fa-atom-alt
                                p
                                    | 礦物質離子化
                                    br
                                    | 易於人體吸收
                            li.invisible
                                .title 富含氫分子
                                i.far.fa-h2
                                p
                                    | 水中氫分子能中和
                                    br
                                    | 體內過多的活性氧
            a(href="about.html")
                .action-btn 了解更多
        .main-container
            .main-title
                .title 商品情報
                .grid__item-letter(data-blotter="")
                    span.content__text-inner PRODUCT
                i.fas.fa-tint
            .main-box.product-box
                ul
                    li.active 防疫專區
                    li 鹼性離子水生成器
                    li SPACO/氣泡水機
                    li 生飲淨水器
                    li 居家凈水
                    li 濾心耗材
                    li 家居選物
                .index-product-list
                    .flex-box.show
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="鹼性離子水超酸水生成器TYH-202")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-508.html")
                                img(src="images/product/TW-508/cover.png" alt="鹼性離子水生成器TW-508")
                            .title
                                a(href="TW-508.html") 鹼性離子水生成器TW-508
                        .each-product.flex-3.mij
                            a(href="superwater.html")
                                img(src="images/product/sw/cover.png" alt="Super Water mini次氯酸水生成器")
                            .title
                                a(href="superwater.html") Super Water mini次氯酸水生成器
                    .flex-box
                        .each-product.flex-3.mij
                            a(href="TYH--71GS.html")
                                img(src="images/product/TYH-71GS/cover.png" alt="鹼性離子水生成器TYH-71GS")
                            .title
                                a(href="TYH--71GS.html") 鹼性離子水生成器TYH-71GS
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="鹼性離子水超酸水生成器TYH-202")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-H1.html")
                                img(src="images/product/TW-H1/cover.png" alt="還元水素水生成器TW-H1")
                            .title
                                a(href="TW-H1.html") 還元水素水生成器TW-H1
                    .flex-box
                        .each-product.flex-3.bubble
                            a(href="SPACO-X-3.html")
                                img(src="images/product/spaco-x-3/cover.png" alt="SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3")
                            .title
                                a(href="SPACO-X-3.html") SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3
                        .each-product.flex-3
                            a(href="SPACO-P-3.html")
                                img(src="images/product/spaco-p-3/cover.png" alt="SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3")
                            .title
                                a(href="SPACO-P-3.html") SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3
                        .each-product.flex-3
                            a(href="SPACO-A-3.html")
                                img(src="images/product/spaco-a-3/cover.png" alt="SPACO 桌上型-冰冷熱飲水機 A-3")
                            .title
                                a(href="SPACO-A-3.html") SPACO 桌上型-冰冷熱飲水機 A-3
                    .flex-box
                        .each-product.flex-3
                            a(href="2SF.html")
                                img(src="images/product/2sf/cover.png" alt="淨水御守 - 安心生飲淨水器 OMAMORI - 2SF")
                            .title
                                a(href="2SF.html") 淨水御守 - 安心生飲淨水器 OMAMORI - 2SF
                        .each-product.flex-3
                            a(href="H-301.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/png/1540450534.png" alt="櫥下型雙溫熱飲機 H-301")
                            .title
                                a(href="H-301.html") 櫥下型雙溫熱飲機 H-301
                        .each-product.flex-3
                            a(href="T-8.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/png/1540450003.png" alt="三溫飲水機 T-8")
                            .title
                                a(href="T-8.html") 三溫飲水機 T-8
                    .flex-box
                        .each-product.flex-3
                            a(href="filter.html")
                                img(src="images/product/house/cover.png" alt="全戶式過濾系統")
                            .title
                                a(href="filter.html") 全戶式過濾系統
                        .each-product.flex-3.mij
                            a(href="shower.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1385515652.jpg" alt="家用過濾系統/除氯沐浴器 ECO-303")
                            .title
                                a(href="shower.html") 家用過濾系統/除氯沐浴器 ECO-303
                        .each-product.flex-3.new
                            a(href="TYS-101.html")
                                img(src="images/product/TYS-101/cover.png" alt="除氯省水蓮蓬頭 TYS-101")
                            .title
                                a(href="TYS-101.html") 除氯省水蓮蓬頭 TYS-101
                    .flex-box
                        .each-product.flex-3
                            a(href="TA-1100.html")
                                img(src="images/product/TA-1100/cover.png" alt="W-308及TW-H1專用主體濾心TA-1100")
                            .title
                                a(href="TA-1100.html") TW-308及TW-H1專用主體濾心TA-1100
                        .each-product.flex-3
                            a(href="TA-1200.html")
                                img(src="images/product/TA-1200/cover.png" alt="TW-508專用主體濾心TA-1200")
                            .title
                                a(href="TA-1200.html") TW-508專用主體濾心TA-1200
                        .each-product.flex-3
                            a(href="TA-800T.html")
                                img(src="images/product/filter/TA-800T.png" alt="TYH/IE系列-日本機型主體濾心 TA-800T")
                            .title
                                a(href="TA-800T.html") TYH/IE系列-日本機型主體濾心<br>TA-800T
                    .flex-box
                        .each-product.flex-3
                            a(href="M1.html")
                                img(src="images/product/M1/cover.png" alt="好心機律動健康椅 M1 Vita")
                            .title
                                a(href="M1.html") 好心機律動健康椅 M1 Vita
                        .each-product.flex-3
                            a(href="pot.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1556028484.jpg" alt="耐高溫玻璃冷水壺")
                            .title
                                a(href="pot.html") 耐高溫玻璃冷水壺
                        .each-product.flex-3
                            a(href="bottle.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1562225907.jpg" alt="戶外休閒環保雙層玻璃水瓶")
                                .title
                                    a(href="bottle.html") 戶外休閒環保雙層玻璃水瓶
                a(href="shops.html")
                    .action-btn.reverse-action-btn 店舖一覽
                a(href="product.html")
                    .action-btn 更多商品
        .main-container
            include about-history.pug
        .main-container
            .main-title
                .title 最新情報
                .grid__item-letter(data-blotter="")
                    span.content__text-inner NEWS
                i.fas.fa-tint
            .flex-box
                .flex-2
                    .main-box.news-box(style="height: 100%;")
                        a(href="news-inner-15.html")
                            img(src="images/news/15.jpg" alt="TOYO熱飲系列，獲經濟部能源局「 能源效率分級標示二級檢驗認證 」節能又省錢!")
                        p.time 2022-01-01
                        a(href="news-inner-15.html")
                            .title TOYO熱飲系列，獲經濟部能源局「 能源效率分級標示二級檢驗認證 」節能又省錢!
                .flex-2
                    .main-box.news-box(style="height: 100%;")
                        a(href="news-inner-14.html")
                            img(src="images/news/news-14.jpg" alt="預防新冠病毒對策【除菌消臭神品SteriLe日本速特靈】TOYO東洋歐帝克獨家代理，為台灣防疫注入一劑強心針!")
                        p.time 2021-08-10
                        a(href="news-inner-14.html")
                            .title 預防新冠病毒對策【除菌消臭神品SteriLe日本速特靈】TOYO東洋歐帝克獨家代理，為台灣防疫注入一劑強心針!
            a(href="news.html")
                .action-btn 情報一覽
