extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/news-10.jpg" alt="【汰舊濾心】 2021年起將不協助回收")
                .time 2021-01-01
                .title 【汰舊濾心】 2021年起將不協助回收
                p 本公司將於2021年停止協助顧客回收已使用之濾心、濾瓶，請拆卸後丟棄於一般垃圾即可，造成您的不˙便，敬請見諒。


