extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/15.jpg" alt="Toyo news")
                .time 2022-01-01
                .title TOYO熱飲系列，獲經濟部能源局【能源效率分級標示二級檢驗認證】節能又省錢!
                img(src="images/news/15-1.jpg" alt="Toyo news")
                p 【櫥下型 鹼性離子水生成器＋熱飲系統】TYH-806S 經「能源效率分級標示二級檢驗認證」<br>
                    a(href="https://www.toyo-autech.com.tw/web/TYH-806S.html" target="_blank" rel="noopener noreferrer") 按此更多商品情報
                br
                br
                img(src="images/news/15-2.jpg" alt="Toyo news") 
                p 【櫥下型 雙溫熱飲機 】 H-301 經「能源效率分級標示二級檢驗認證」<br>
                    a(href="https://www.toyo-autech.com.tw/web/H-301.html" target="_blank" rel="noopener noreferrer") 按此更多商品情報











