extends includes/base.pug

block content
    .main
        .main-container.news-container
            .main-box
                .time 2026-04-01
                .title 旅遊達人、飯店開箱、住宅開箱 –跟著丹丹出去玩，升級日本TOYO淨水｜ 夏日氣泡水神機｜SPACO 觸控廚下型-氣泡水冰溫熱飲水機 X-3 Pro
                div
                    .
                        <div class="video-container-verticle">
                            <iframe width="671" height="1193" src="https://www.youtube.com/embed/psI8wWe98Us" title="一杯氣泡飲竟不到10元？這台「TOYO SPACO X-3 Pro 櫥下氣泡飲水機」冰溫熱水都一鍵搞定，800元氣瓶在我家能打400杯氣泡飲！" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="video-container-verticle">
                            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fdenden.travel%2Fposts%2Fpfbid02cY8jyn9Gd2q2BtcRSbHgzknepte245U7NdLd3hDPjoGbSrkeeJDXd6M1QFT7X6zKl&show_text=true&width=500" width="500" height="729" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
                












