extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/news-13.jpg" alt="TOYO 主體濾心 【原廠認證貼紙】")
                .time 2021-06-01
                .title TOYO 主體濾心 【原廠認證貼紙】
                img(src="images/news/news-13-1.jpg" alt="TOYO 主體濾心 【原廠認證貼紙】")
                p 
                    | 為保障消費者權益、杜絕仿冒製品，TOYO公司出品之主體濾心型號 : TA-800T、MW7000C、TA-1100、TA-1200，均有配件「 原廠認證貼紙  」及「專屬識別編號」，請各位消費者於網路平台或實體店家購買時認明，以免影響您飲用水的品質及安全。
                p
                    span.text-main Q: 網路賣場這麼多，我該如何知道購買的是正版授權濾心呢?
                    br
                    | A:
                    br
                    | 消費者可至本官網 >
                    a.text-main(href="http://www.toyo-autech.com.tw/web/shops.html") 店鋪一覽
                    | 頁面，找尋鄰近您居住地之 TOYO 授權優良經銷店點購買，將更有保障唷~
                    br
                    | 若於購買時有疑問，請加入 TOYO 官方 LINE 客服
                p
                    span.text-main ● 前往 LINE 客服 →
                        a(href="https://lin.ee/8x7tX1r") https://lin.ee/8x7tX1r
                    br
                    | 加入後回傳任一貼圖即可加入成功。

                p
                    span.text-main ● 客服免付費電話：
                        a(href="tel:0800090881") 0800-090-881
                    br
                    | 將會有客服人員協助您識別正版濾心。











