extends includes/base.pug

block content
    .main
        .main-container.news-container
            .main-box
                .time 2026-06-01
                .title 冠冠夫妻In Your Life 好評推薦！ 夏日氣泡水神機 SPACO氣泡水冰溫熱飲水機 X-3 Pro
                div
                    p 分享的生活大小事，包括美食、旅遊、親子、文化、藝術–冠冠夫妻In Your Life ，升級日本TOYO淨水｜ 夏日氣泡水神機｜SPACO 觸控廚下型-氣泡水冰溫熱飲水機 X-3 Pro
                    .
                        <div class="video-container-verticle">
                            <iframe width="671" height="1193" src="https://www.youtube.com/embed/bkfapzwhGjI" title="TOYO SPACO X-3 Pro 氣泡水冰溫熱飲水機!一家人的五星級水吧｜氣泡水、熱水、常溫水一台搞定｜冠冠夫妻 In Your Life" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="video-container">
                            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F811530608503703%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                        </div>












