extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img.img-mobile(src="images/news/news-9-cover.jpg" alt="【超澎派回饋】年末感謝季")
                img.img-desk(src="images/news/news-9-cover.jpg" alt="【超澎派回饋】年末感謝季")
                .time 2020-12-15
                .title 【超澎派回饋】年末感謝季
                p
                    | 來自日本的健康好水～居家飲水好幫手 
                    br
                    | 2020 倒數！感恩大回饋！
                p
                    | 【購機送好禮 2 選 1】
                    br
                    | 日本富士電通 - 極速輕量筋膜槍 
                    br
                    | MEYER 美國美亞 - 日本鋼抗菌雙耳炒鍋 36CM
                p
                    | 【加碼送限量福袋＋優惠禮券】
                    br
                    | 福袋內容:
                    br
                    | ①北極熊環保購物袋
                    br
                    | ② TOYO超纖耐髒廚房魔布
                    br
                    | ③天天喝好水便條紙組
                    br
                    | ④ ５００元濾心禮券
                p
                    | ✅ 冬季優惠／商品資訊／預約賞機
                    br
                    | ▸ 全台服務 免付費客服 ０８００-０９０-８８１
                    br
                    | ▸ 加入ＬＩＮＥ客服詢問
                    br
                    | ___________________
                    br
                    | TOYO 官方粉絲團現正抽獎活動中，快上臉書搜尋唷！
                    br
                    | ▸ 1位-🎉美國 FILTERQUEEN 360 度空氣清淨機 (市售 NT15000)
                    br
                    | ▸ 3位-🎉耐高溫玻璃水瓶
                    br
                    | ___________________
                    br
                p
                    | * 此為 TOYO 總公司活動，各經銷店點優惠不同，歡迎洽詢各店人員
                    br
                    | * 本活動 TOYO 保留最終修改權
                p
                    img(src="images/news/news-9.jpg" alt="【超澎派回饋】年末感謝季")

