extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/16.png" alt="Toyo news")
                .time 2024-12-01
                .title TOYO全新一代氣泡水機 Pro級上市！【SPACO X-3 Pro 】霸氣升級回歸！限時早鳥預購現省2萬元！
                p TOYO 【SPACO X-3 Pro 】早鳥預購開始囉~<br>
                    | 觸控櫥下型-氣泡水冰溫熱飲水機，全新一代，即將上市！ <br>
                    | 官網售價 : 68,800元<br>
                    | 早鳥預購優惠 : 48,800元<br>
                    | 早鳥預購大禮包 : 保固1+1年、贈淨水濾心<br>
                    | 活動時間 : 12/1-2025/1/31
                img(src="images/news/16-1.png" alt="Toyo news")
                a(href="https://www.toyo-autech.com.tw/web/spaco-x-3-pro.html") 按此更多商品情報











