extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img.img-mobile(src="images/news/news-8-cover.jpg" alt="25 週年慶優惠 輕鬆分期 0 負擔")
                img.img-desk(src="images/news/news-8-cover.jpg" alt="25 週年慶優惠 輕鬆分期 0 負擔")
                .time 2020-11-01
                .title 25 週年慶優惠 輕鬆分期 0 負擔
                p
                    b 【零卡分期】
                    br
                    | 免卡、手機申辦、審核快速、輕鬆月付
                    br
                    | 即可輕鬆擁有鹼性好水生成器! 最高可分24期
                p
                    b 【購機享超多優惠】
                    br
                    | ● 3期-6期 0利率
                    br
                    | ● 4萬元以上12期 0利率
                    br
                    | ● 萬元家電免費送
                p
                    | 加碼送淨水濾心唷
                    br
                    | ▸全台服務 免付費客服 0800-090-881
                    br
                    | ▸加入LINE客服詢問___________________
                p
                    | *此為TOYO總公司活動，各經銷店點優惠不同，歡迎洽詢各店人員
                    br
                    | *本活動TOYO保留最終修改權
                p
                    img(src="images/news/news-8-1.jpg" alt="25週年慶優惠  輕鬆分期0負擔")
                p
                    img(src="images/news/news-8-2.jpg" alt="25週年慶優惠  輕鬆分期0負擔")
                p
                    img(src="images/news/news-8-3.jpg" alt="25週年慶優惠  輕鬆分期0負擔")

