extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/16.png" alt="Toyo news")
                .time 2024-12-01
                .title TOYO全新一代氣泡水機 Pro級上市！【SPACO X-3 Pro 】霸氣升級回歸！
                a(href="https://www.toyo-autech.com.tw/web/spaco-x-3-pro.html") 按此更多商品情報











