extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'

block content
    .main
        .main-container.news-container
            .main-box
                img(src="images/news/news-12.jpg" alt="【4月兒童節連假首選》台北世貿婦幼展 免費索票")
                .time 2021-03-20
                .title 【4月兒童節連假首選》台北世貿婦幼展 免費索票
                p 
                    <span class="text-main">【台北世貿婦幼展】</span>
                    br
                    <span class="text-main">展場特惠組! 贈送萬元家電!  歡迎前往現場體驗 </span>
                    br
                    br
                    <span class="text-main">★展覽資訊 ★</span>
                    br
                    | 【 2021台北國際嬰兒與孕媽咪用品展 】
                    br
                    | 展出地點：台北世貿一館
                    br
                    | 攤位號碼：C814
                    br
                    | 展出日期：2021/04/02(五) 至 2021/04/05(一)
                    br
                    | 展出時間：10:00-18:00
                    br
                    br
                    <span class="text-main">★免費索票 ★</span>
                    br
                    | TOYO團隊將在展區為水友們服務，歡迎前往唷！
                    br
                    | 攤位號碼：C814
                    br
                    | ✅ 快加入官方LINE 連結: <a href="https://lin.ee/8x7tX1r" target="_blank" rel="noopener noreferrer">https://lin.ee/8x7tX1r</a>
                    br
                    | 加入後留言一句 「我想參加台北婦幼展」
                    br
                    | 將會由客服人員提供免費票券!
                    br
                    | ✅ 免付費客服諮詢 0800-090881
                p
                    <span class="text-main">★ 超多優惠+萬元贈品 ★ 展場優惠價歡迎詢問!</span>
                    br
                    | ECO 日本原裝除氯沐浴器 – 呵護寶貝最嬌嫩的肌膚，杜絕過敏原
                div
                    img(src="images/news/news-12-1.jpg" alt="ECO 日本原裝除氯沐浴器 – 呵護寶貝最嬌嫩的肌膚，杜絕過敏原")
                p
                    | 下雙溫熱飲機 – 熱水一開就有，沖泡牛奶最方便!
                div
                    img(src="images/news/news-12-2.jpg" alt="下雙溫熱飲機 – 熱水一開就有，沖泡牛奶最方便!")
                p
                    | 櫥下型鹼性離子水生成器+熱飲系統– 
                    br
                    | 可飲用淨水、養生保健pH9.0鹼性水、熱水，一機符合全家人的生活需求!
                div
                    img(src="images/news/news-12-3.jpg" alt="櫥下型鹼性離子水生成器+熱飲系統")




