extends includes/base.pug
block variables
    - var productName = 'OMAMORI-PAP'
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`
    - var productTitle = '淨水御守-抑垢御守濾心 OMAMORI-PAP'
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/pap/cover.png" alt=`${productTitle}`)
                .name 淨水御守-抑垢御守濾心<br>OMAMORI-PAP
                .detail
                    ul
                        li 適用於TOYO全系列鹼性離子水生成器、生飲淨水組、熱飲機、加熱器之前置濾心。
                        li 強效抑制水垢形成、濾除泥沙、雜質、鐵鏽等。
                        li 可延長後續淨水濾心、機器及壽命、增加效能。
                        li 濾心需定期更換，避免影響飲水品質及安全。
                        li 濾心購買與更換細節，歡迎與我們聯繫。
                        li 抑垢效果因各地水質及使用方式而有不同。
                    p
                        img(src="images/product/pap/1.jpg" alt=`${productTitle}`)
                    .ct
                        .price 建議售價：900元
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                | 聯絡我們
            .main-box
                h5 商品內容
                ul.list-product-content
                    li 
                        | 替換用濾心OMAMORI-PAP
                        span 1個

            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 濾材
                        td 1µPP棉、日本銀離子、美國複磷酸鹽
                    tr
                        td 過濾效能
                        td 抑制水垢形成、濾除泥沙、雜質、鐵鏽等
                    tr
                        td 過濾能力
                        td 約3~6個月  ※依照各地水質、使用方式，壽命也會改變
                    tr
                        td 尺寸
                        td 約80(寬) 320(高) mm
                    tr
                        td 重量
                        td 約500g
                    tr
                        td 使用水溫
                        td 4~42℃以下
                    tr
                        td 適用水壓
                        td 14-42psi( 1-3 kg/cm²)
                    tr
                        td 產地
                        td 台灣
                    tr
                        td 保存期限
                        td 未開封5年
                    tr
                        td 未開封5年
                        td 適用一般自來水（請勿使用山泉水、地下水）。依照消費者保護法的規定，您有從商品貨到次日七天內猶豫期的權益，但猶豫期並非試用期！請留意，您所退回的商品必須回復原狀（到貨時的原始狀態）並保持完整包裝（包括商品本體、包裝及所附文件或資料之完整），切勿缺漏任何配件或損毀外盒。提醒您，外盒及包裝都屬於商品的一部份，若有遺失、毀損或缺件，可能影響您退貨的權益，也可能依照損毀程度扣除為回復原狀所必要的費用。
