extends includes/base.pug
block variables
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop`
block js
    script(src="./js/product.js")

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")

        .main-container
            include ./product-header.pug
            .main-box.product-box
                #product1
                    ul
                        li 鹼性離子水生成器
                    .flex-box.show
                        .each-product.flex-3.new-s
                            a(href="H-8.html")
                                img(src="images/product/h-8/cover.png" alt="H plus觸控廚下型-鹼性離子水雙溫飲水機 H-8")
                            .title
                                a(href="H-8.html") H plus觸控廚下型-鹼性離子水雙溫飲水機 H-8
                        .each-product.flex-3.new
                            a(href="H-5.html")
                                img(src="images/product/h-5/cover.png" alt="H plus觸控廚下型-鹼性離子水飲水機 H-5")
                            .title
                                a(href="H-5.html") H plus觸控廚下型-鹼性離子水飲水機 H-5
                        .each-product.flex-3.mij
                            a(href="TYH--71GS.html")
                                img(src="images/product/TYH-71GS/cover.png" alt="鹼性離子水生成器TYH-71GS")
                            .title
                                a(href="TYH--71GS.html") 鹼性離子水生成器TYH-71GS
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="鹼性離子水超酸水生成器TYH-202")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-H1.html")
                                img(src="images/product/TW-H1/cover.png" alt="還元水素水生成器TW-H1")
                            .title
                                a(href="TW-H1.html") 還元水素水生成器TW-H1
                        .each-product.flex-3
                            a(href="TW-308.html")
                                img(src="images/product/TW-308/cover.png" alt="鹼性離子水生成器TW-308")
                            .title
                                a(href="TW-308.html") 鹼性離子水生成器TW-308
                        .each-product.flex-3
                            a(href="TW-508.html")
                                img(src="images/product/TW-508/cover.png" alt="鹼性離子水生成器TW-508")
                            .title
                                a(href="TW-508.html") 鹼性離子水生成器TW-508
                        .each-product.flex-3
                            a(href="TYB-505S.html")
                                img(src="images/product/TYB-505S/505S.png" alt="")
                            .title
                                a(href="TYB-505S.html") 櫥下型 鹼性離子水生成器TYB-505S
                        .each-product.flex-3
                            a(href="TYH-806S.html")
                                img(src="images/product/TYH-806S/806S.png" alt="")
                            .title
                                a(href="TYH-806S.html") 櫥下型 鹼性離子水生成器＋熱飲器TYH-806S
                hr
                #product9
                    ul
                        li SPACO/氣泡水機
                    .flex-box
                        .each-product.flex-3.bubble
                            a(href="SPACO-X-3.html")
                                img(src="images/product/spaco-x-3/cover.png" alt="SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3")
                            .title
                                a(href="SPACO-X-3.html") SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3
                        .each-product.flex-3
                            a(href="SPACO-P-3.html")
                                img(src="images/product/spaco-p-3/cover.png" alt="SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3")
                            .title
                                a(href="SPACO-P-3.html") SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3
                hr
                #product2
                    ul
                        li 生飲淨水器
                    .flex-box
                        .each-product.flex-3
                            a(href="2SF.html")
                                img(src="images/product/2sf/cover.png" alt="淨水御守 - 安心生飲淨水器 OMAMORI - 2SF")
                            .title
                                a(href="2SF.html") 淨水御守 - 安心生飲淨水器 OMAMORI - 2SF
                        .each-product.flex-3
                            a(href="2S.html")
                                img(src="images/product/2s/cover.png" alt="淨水御守 - 安心生飲前置淨水組 OMAMORI - 2S")
                            .title
                                a(href="2S.html") 淨水御守 - 安心生飲前置淨水組 OMAMORI - 2S
                        .each-product.flex-3.new
                            a(href="2PF.html")
                                img(src="images/product/2pf/cover.png" alt="淨水御守-全效能生飲淨水器 OMAMORI-2PF")
                            .title
                                a(href="2PF.html") 淨水御守-全效能生飲淨水器 OMAMORI-2PF
                        .each-product.flex-3.new
                            a(href="2P.html")
                                img(src="images/product/2p/cover.png" alt="淨水御守-全效能生飲前置淨水組 OMAMORI-2P")
                            .title
                                a(href="2P.html") 淨水御守-全效能生飲前置淨水組 OMAMORI-2P
                        .each-product.flex-3
                            a(href="H-301.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/png/1540450534.png" alt="櫥下型雙溫熱飲機 H-301")
                            .title
                                a(href="H-301.html") 櫥下型雙溫熱飲機 H-301
                hr
                #product3
                    ul
                        li 居家凈水
                    .flex-box
                        .each-product.flex-3
                            a(href="filter.html")
                                img(src="images/product/house/cover.png" alt="全戶式過濾系統")
                            .title
                                a(href="filter.html") 全戶式過濾系統
                        .each-product.flex-3.mij
                            a(href="shower.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1385515652.jpg" alt="家用過濾系統/除氯沐浴器 ECO-303")
                            .title
                                a(href="shower.html") 家用過濾系統/除氯沐浴器 ECO-303
                        .each-product.flex-3.new
                            a(href="TYS-101.html")
                                img(src="images/product/TYS-101/cover.png" alt="除氯省水蓮蓬頭 TYS-101")
                            .title
                                a(href="TYS-101.html") 除氯省水蓮蓬頭 TYS-101
                hr
                #product4
                    ul
                        li 濾心耗材
                    .flex-box
                        .each-product.flex-3
                            a(href="TA-1100.html")
                                img(src="images/product/TA-1100/cover.png" alt="TA-1100")
                            .title
                                a(href="TA-1100.html") TW-308及TW-H1專用主體濾心TA-1100
                        .each-product.flex-3
                            a(href="TA-1200.html")
                                img(src="images/product/TA-1200/cover.png" alt="TA-1200")
                            .title
                                a(href="TA-1200.html") TW-508專用主體濾心TA-1200
                        .each-product.flex-3
                            a(href="TA-900.html")
                                img(src="images/product/filter/TA-900.png" alt="TYH/IE系列-日本機型主體濾心TA-900")
                            .title
                                a(href="TA-900.html") TYH/IE系列-日本機型主體濾心<br>TA-900
                        .each-product.flex-3
                            a(href="MW-7000C.html")
                                img(src="images/product/filter/MW-7000C.png" alt="TYH/IE系列-日本原裝主體濾心 MW-7000C")
                            .title
                                a(href="MW-7000C.html") TYH/IE系列-日本原裝主體濾心<br>MW-7000C
                        .each-product.flex-3
                            a(href="T8-C.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_220h_220/jpg/1501826585.jpg" alt="T-8專用濾心")
                            .title
                                a(href="T8-C.html") T-8專用濾心
                        .each-product.flex-3
                            a(href="OMAMORI-PA.html")
                                img(src="images/product/filter/OMAMORI-PA.png" alt="淨水御守-雜質御守濾心 OMAMORI-PA")
                            .title
                                a(href="OMAMORI-PA.html") 淨水御守-雜質御守濾心<br>OMAMORI-PA
                        .each-product.flex-3
                            a(href="OMAMORI-JC.html")
                                img(src="images/product/filter/OMAMORI-JC.png" alt="淨水御守-全效能御守濾心 OMAMORI-JC")
                            .title
                                a(href="OMAMORI-JC.html") 淨水御守-全效能御守濾心<br>OMAMORI-JC
                        .each-product.flex-3
                            a(href="OMAMORI-PAP.html")
                                img(src="images/product/pap/cover.png" alt="淨水御守-抑垢御守濾心 OMAMORI-PAP")
                            .title
                                a(href="OMAMORI-PAP.html") 淨水御守-抑垢御守濾心<br>OMAMORI-PAP
                        .each-product.flex-3
                            a(href="TA-801.html")
                                img(src="images/product/ta-801/cover.png" alt="長效型複合式生飲濾心 TA-801")
                            .title
                                a(href="TA-801.html") 長效型複合式生飲濾心 TA-801
                        .each-product.flex-3
                            a(href="TA-801P.html")
                                img(src="images/product/ta-801p/cover.png" alt="抑垢複合式生飲濾心 TA-801P")
                            .title
                                a(href="TA-801P.html") 抑垢複合式生飲濾心 TA-801P
                        .each-product.flex-3
                            a(href="TA-903.html")
                                img(src="images/product/filter/TA-903.png" alt="TA-903 PP棉濾心")
                            .title
                                a(href="TA-903.html") TA-903 PP棉濾心
                        .each-product.flex-3
                            a(href="TA-903-2.html")
                                img(src="images/product/filter/TA-903-2.png" alt="TA-903 銀添活性碳濾心")
                            .title
                                a(href="TA-903-2.html") TA-903 銀添活性碳濾心
                        .each-product.flex-3
                            a(href="TA-903-3.html")
                                img(src="images/product/filter/TA-903-3.png" alt="TA-903 樹脂濾心")
                            .title
                                a(href="TA-903-3.html") TA-903 樹脂濾心
                        .each-product.flex-3
                            a(href="TA-101.html")
                                img(src="images/product/ta-101/cover.png" alt="除氯省水蓮蓬頭 濾心2入組 TA-101")
                            .title
                                a(href="TA-101.html") 除氯省水蓮蓬頭 濾心2入組 TA-101
                        .each-product.flex-3
                            a(href="SP-300UF.html")
                                img(src="images/product/sp-300uf/cover.png" alt="SPACO專用UF複合式濾心 SP-300UF")
                            .title
                                a(href="SP-300UF.html") SPACO專用UF複合式濾心 SP-300UF
                        .each-product.flex-3
                            a(href="SPACO-UV.html")
                                img(src="images/product/spaco-uv/cover.png" alt="SPACO專用UV殺菌燈管")
                            .title
                                a(href="SPACO-UV.html") SPACO專用UV殺菌燈管
                hr
                #product5
                    ul
                        li 家居選物
                    .flex-box
                        .each-product.flex-3
                            a(href="M1.html")
                                img(src="images/product/M1/cover.png" alt="好心機律動健康椅 M1 Vita")
                            .title
                                a(href="M1.html") 好心機律動健康椅 M1 Vita
                        .each-product.flex-3
                            a(href="pot.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1556028484.jpg" alt="")
                            .title
                                a(href="pot.html") 耐高溫玻璃冷水壺
                        .each-product.flex-3
                            a(href="bottle.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1562225907.jpg" alt="")
                            .title
                                a(href="bottle.html") 戶外休閒環保雙層玻璃水瓶
                hr
                #product0
                    ul
                        li 防疫專區
                    .flex-box.show
                        .each-product.flex-3.mij
                            a(href="TYH-202.html")
                                img(src="images/product/TYH-202/cover.png" alt="")
                            .title
                                a(href="TYH-202.html") 鹼性離子水超酸水生成器TYH-202
                        .each-product.flex-3
                            a(href="TW-508.html")
                                img(src="images/product/TW-508/cover.png" alt="")
                            .title
                                a(href="TW-508.html") 鹼性離子水生成器TW-508
                        .each-product.flex-3.mij
                            a(href="superwater.html")
                                img(src="images/product/sw/cover.png" alt="")
                            .title
                                a(href="superwater.html") Super Water mini次氯酸水生成器
                        .each-product.flex-3.mij
                            a(href="TYH--71GS.html")
                                img(src="images/product/TYH-71GS/cover.png" alt="")
                            .title
                                a(href="TYH--71GS.html") 鹼性離子水生成器TYH-71GS
                        .each-product.flex-3.made-in-japan
                            a(href="SteriLe.html")
                                img(src="images/product/SteriLe/cover.png" alt="SteriLe日本速特靈")
                            .title
                                a(href="SteriLe.html") SteriLe日本速特靈
                        .each-product.flex-3
                            a(href="COVInix.html")
                                img(src="images/product/COVInix/cover.png" alt="美國COVInix PLUS UV-C紫外線殺菌棒")
                            .title
                                a(href="COVInix.html") 美國COVInix PLUS UV-C紫外線殺菌棒
                        .each-product.flex-3
                            a(href="UA-201.html")
                                img(src="images/product/UA-201/cover.png" alt="UVC空氣殺菌清淨器 UA-201")
                            .title
                                a(href="UA-201.html") UVC空氣殺菌清淨器 UA-201
