.each-product.flex-3.product-tag.upgrade
    a(href="spaco-x-3-pro.html")
        img(src="images/product/spaco-x-3-pro/cover.png" alt="SPACO 觸控櫥下型-氣泡水冰溫熱飲水機 X-3 Pro")
    .title
        a(href="spaco-x-3-pro.html") SPACO 觸控櫥下型-氣泡水冰溫熱飲水機 X-3 Pro
.each-product.flex-3.product-tag.new-show
    a(href="space-p-3-pro.html")
        img(src="images/product/spaco-p-3-pro/cover.png" alt="SPACO 觸控櫥下型-雙溫飲水機 P-3 Pro")
    .title
        a(href="space-p-3-pro.html") SPACO 觸控櫥下型-雙溫飲水機 P-3 Pro
.each-product.flex-3.product-tag.soldout
    a(href="SPACO-X-3.html")
        img(src="images/product/spaco-x-3/cover.png" alt="SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3")
    .title
        a(href="SPACO-X-3.html") SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3