extends includes/base.pug
block variables
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop`
block js
    script(src="./js/product.js")

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")

        .main-container
            .main-title
                .title 商品情報
                div(class="grid__item-letter" data-blotter="")
                    span(class="content__text-inner") PRODUCT
                i.fas.fa-tint
            ul.list-product
                li
                    a(href="product.html") 全部商品
                li 
                    a(href="preventive-products.html") 防疫專區
                li      
                    a(href="alkaline-ionizer.html") 鹼性離子水生成器
                li      
                    a(href="spaco.html") SPACO/氣泡水機
                li      
                    a(href="drinking-water-filtration.html") 生飲淨水器
                li   
                    a(href="water-filtration.html") 居家凈水
                li
                    a(href="filters&merchandise.html") 濾心耗材
                li  
                    a(href="home-collections.html") 家居選物
            .main-box.product-box
                #product9
                    ul
                        li SPACO/氣泡水機
                    .flex-box
                        .each-product.flex-3.bubble
                            a(href="SPACO-X-3.html")
                                img(src="images/product/spaco-x-3/cover.png" alt="SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3")
                            .title
                                a(href="SPACO-X-3.html") SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3
                        .each-product.flex-3
                            a(href="SPACO-P-3.html")
                                img(src="images/product/spaco-p-3/cover.png" alt="SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3")
                            .title
                                a(href="SPACO-P-3.html") SPACO 觸控櫥下型-UV冰冷熱飲水機 P-3
                        .each-product.flex-3.new
                            a(href="SPACO-A-3.html")
                                img(src="images/product/spaco-a-3/cover.png" alt="SPACO 桌上型-冰冷熱飲水機 A-3")
                            .title
                                a(href="SPACO-A-3.html") SPACO 桌上型-冰冷熱飲水機 A-3

