extends includes/base.pug
block variables
    - var productName = 'SPACO-X-3'
    - var rakutenUrl = `https://lin.ee/f8J76pW`
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/spaco-x-3/cover.png" alt="")
                .name SPACO 觸控櫥下型-氣泡水UV冰熱飲水機  X-3
                .detail
                    ul
                        li 提供氣泡水、冰水、熱水三種水溫用水情境
                        li 一機多功能，隨按隨喝健康氣泡水
                        li 觸控式輕巧不鏽鋼水龍頭，時尚不占空間
                        li 大容量3公升氣泡水，適合家庭、朋友聚會
                        li 食品級二氧化碳氣體，符合美國FDA衛生標準
                        li 智慧型漏水偵測、UV燈更換提示，讓您永遠喝到安全高品質的水
                    div
                        - var n = 1;
                        while n <= 22
                            div
                                img(src=`images/product/spaco-x-3/${n++}.png` alt="產品介紹")
                    .ct
                        .price
                            | 建議售價：68800元
                        a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/product/');" href="https://www.rakuten.com.tw/shop/toyo-autech/product/")
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5 商品內容
                p
                    | SPACO X-3 主機X 1
                    br
                    | SPACO X-3 龍頭X 1
                    br
                    | SP-600 氣泡補給600g鋼瓶 X 1
                    br
                    | SP-300UF 機內濾心 UF複合式濾心 X 1
                    br
                    | OMAMORI – PAP 外置濾心 淨水御守-抑垢御守濾心 X 1
            .main-box
                h5 商品描述
                p 
                    | SPACO 觸控櫥下型-氣泡水UV冰熱飲水機 X-3
                    br
                    | THE TASTE OF GALAXIES
                    br
                    | 頂級居家·吧檯氣泡水機 歐美品味人士熱銷首選
                    br
                    br
                    | 品味歐系生活的奢華飲水學
                    br
                    | 3-IN-ONE觸控全自動設計
                    br
                    | 輕按一鍵，享受氣泡水、冰水、熱水
                ul.list-disc
                    li 最經濟的選擇，健康汽水DIY自己做
                    li 一支氣瓶=240瓶/500ml汽水
                    li 每1公升氣泡水・內含有5.8g符合美國FDA衛生標準的食品級二氧化碳氣體
                    li 泡茶、泡牛奶、氣泡雞尾酒、滿足所有人的健康飲水需求!
                    li 適合家庭、餐廳、酒吧、招待會所、辦公空間等
                    li 讓您在家就像住飯店，頂級氣泡水隨時款待!
                p
                    | 兼具淨水功能的飲水機
                    br
                    | 高效能UV瞬間殺菌系統
                    br
                    | 可有效消滅水中99.9%以上的細菌
                    br
                    br
                    | 【保養及維護】
                    br
                    | 建議使用2年以上，需回原廠進行保養維護。未使用靜置1周以上，使用前請先排放水10-15分鐘，若仍有狀況需回原廠進行保養維護，靜置一個月以上可另行預約客服0800-090-881到府服務管線檢查。 
            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 型號 / 品名
                        td X-3 氣泡水UV冰熱飲水機
                    tr
                        td 功能
                        td 冰水 / 熱水 / 冰氣泡水
                    tr
                        td 顏色
                        td 石墨黑
                    tr
                        td 尺寸
                        td 23(W) x 39(D) x 39(H) 公分
                    tr
                        td 出水溫度
                        td 冰水、氣泡水3℃ -10℃；熱水80℃ -95℃
                    tr
                        td 製水量
                        td 氣泡水量達每小時3公升；製冷量達每小時20公升；加熱量達每小時12公升
                    tr
                        td 缸體容量
                        td 冰水系統3公升；熱水系統1.2公升
                    tr
                        td 製冰內膽
                        td SUS-304(不鏽鋼)
                    tr
                        td 加熱內膽
                        td SUS-304(不鏽鋼)
                    tr
                        td 進排水口徑
                        td 1/4"
                    tr
                        td 電壓
                        td AC115V/60HZ
                    tr
                        td 功率
                        td 600Ｗ
                    tr
                        td 標準配件
                        td 機內UF複合式濾心 / 機內UV殺菌燈管 / 600g氣瓶 / 外置抑垢淨水御守濾心
                    tr
                        td 龍頭內/外徑
                        td 26mm/50mm
                    tr
                        td 適用水壓
                        td 2kg/25psi
                    tr
                        td 產地
                        td 台灣研發 / 台灣製造
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle  常見問題
                    a(href="https://drive.google.com/file/d/1N2xLa5qAtl7diPambwvN9XBFeOx7BPu_/view?usp=sharing" target="_blank")
                        .action-btn
                            i.fal.fa-wrench  操作手冊
            .main-box
                h5 週邊配件
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        a(href="SP-300UF.html")
                            img(src="images/product/sp-300uf/cover.png" alt="SP-300UF")
                            p SP-300UF
                    .flex-2
                        a(href="OMAMORI-PAP.html")
                            img(src="images/product/pap/cover.png" alt="OMAMORI – PAP")
                            p OMAMORI – PAP 
                    .flex-2
                        a(href="SPACO-UV.html")
                            img(src="images/product/spaco-uv/cover.png" alt="SPACO專用UV燈管")
                            p SPACO專用UV燈管
                    .flex-2
                        a(href="#")
                            img(src="images/product/spaco-air/cover.png" alt="標配600g氣瓶/1.8kg氣瓶")
                            p 標配600g氣瓶/1.8kg氣瓶
