extends includes/base.pug
block variables
    - var rakutenUrl = `https://lin.ee/a4uOuFB`
    - var productTitle = 'SPACO 觸控櫥下型-氣泡水冰溫熱飲水機 X-3 Pro'
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/spaco-x-3-pro/cover.png" alt="")
                .name= productTitle
                .detail
                    ul
                        li 全自動冰氣泡水、常溫水、熱水三種用水模式
                        li 全新升級版，標配大容量2L氣瓶
                        li 一機多功能，隨按隨喝健康氣泡水
                        li 觸控式輕巧不鏽鋼水龍頭，時尚不佔空間
                        li 食品級二氧化碳氣體，符合美國FDA衛生標準
                        li 智慧型漏水偵測、濾芯壽命提醒，讓您永遠喝到安全高品質的水
                    div
                        - var n = 1;
                        while n <= 14
                            div
                                img(src=`images/product/spaco-x-3-pro/${n++}.jpg?20250407` alt="產品介紹")
                    .ct
                        .price
                            | 建議售價：68800元
                        a(onclick=`return gtag_report_conversion(${rakutenUrl});` href=`${rakutenUrl}`)
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick=`return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');` href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5 商品內容
                p
                    | SPACO X-3 Pro主機 X 1
                    br
                    | SPACO X-3 Pro龍頭 X 1
                    br
                    | 氣泡鋼瓶2L X 1
            .main-box
                h5 商品描述
                p 
                    | SPACO 觸控櫥下型-氣泡水冰溫熱飲水機 X-3 Pro
                    br
                    | THE TASTE OF GALAXIES
                    br
                    | 頂級居家·吧檯氣泡水機 歐美品味人士熱銷首選
                    br
                    br
                    | 品味歐系生活的奢華飲水學
                    br
                    | 3-IN-ONE觸控全自動設計
                    br
                    | 輕按一鍵，享受冰氣泡水、常溫水、熱水
                    br
                    | ・最經濟的選擇，健康汽水DIY自己做
                    br
                    | ・一支氣瓶=400瓶/500ml汽水
                    br
                    | ・每1公升氣泡水・內含有5.8g符合美國FDA衛生標準的食品級二氧化碳氣體
                    br
                    | ・一機滿足所有人的健康飲水需求!
                    br
                    | ・適合家庭、餐廳、酒吧、招待會所、辦公空間等
                    br
                    | ・讓您在家就像住飯店，頂級氣泡水隨時款待!
                    br
                    br
                    | 【保養及維護】
                    br
                    | 建議使用2年以上，需回原廠進行保養維護。未使用靜置1周以上，使用前請先排放水10-15分鐘，若仍有狀況需回原廠進行保養維護，靜置一個月以上可另行預約客服0800-090-881到府服務管線檢查。
            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 型號 / 品名
                        td X-3 Pro  觸控櫥下型-氣泡水冰溫熱飲水機
                    tr
                        td 功能
                        td 冰氣泡水 / 常溫水 / 熱水
                    tr
                        td 顏色
                        td 鈦黑
                    tr
                        td 主機尺寸
                        td 26(W) x 41(D) x 43(H) 公分
                    tr
                        td 出水溫度
                        td 氣泡水5℃-10℃；熱水50℃ -100℃  (±5℃)
                    tr
                        td 製水量
                        td 冰氣泡水量達每小時5L；加熱量達每小時10L
                    tr
                        td 缸體容量
                        td 冰氣泡水系統2L；熱水系統2.2L
                    tr
                        td 製冰內膽
                        td SUS-304不鏽鋼
                    tr
                        td 加熱內膽
                        td SUS-316醫療級不鏽鋼
                    tr
                        td 進排水口徑
                        td 1/4"
                    tr
                        td 電壓
                        td AC110V/60HZ
                    tr
                        td 功率
                        td 800Ｗ
                    tr
                        td 龍頭內/外徑
                        td 35mm/50mm
                    tr
                        td 適用水壓
                        td 2kg/25psi
                    tr
                        td 產地
                        td 台灣
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle  常見問題
                    a(href="https://drive.google.com/file/d/1oS_N6L71g1D6vhNySzWbAzr4XEsDOMhL/view?usp=sharing")
                        .action-btn
                            i.fal.fa-wrench  操作手冊
