extends includes/base.pug
block variables
    - var productName = 'SPACO-UV'
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/spaco-uv/cover.png" alt="")
                .name SPACO專用UV殺菌燈管
                .detail
                    ul
                        li 適用於TOYO SPACO廚下型系列機內UV殺菌燈管。
                        li 採用PHILIPS11瓦紫外線殺菌燈管
                        li 有效的消滅水中99.9%以上的細菌
                        li 於取水時瞬間開啟UV紫外線燈光照射並殺菌
                        li 需定期更換，避免影響飲水品質及安全。
                        li 購買與更換細節，歡迎與我們聯繫。
                    .ct
                        .price
                            | 建議售價：2200元
                        a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/product/');" href="https://www.rakuten.com.tw/shop/toyo-autech/product/")
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5 商品內容
                p
                    | SPACO專用UV殺菌燈管 X 1 
