extends includes/base.pug
block variables
    - var productName = 'T-8'
    - var rakutenUrl = `https://lin.ee/f8J76pW`
    - var productTitle = 'UV殺菌系統桌上型三溫飲水機'
    - var hideTopPurchaseBtn = true
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/png/1540450003.png" alt=`${productTitle}`)
                ul.img-list.flex-box
                    li
                        img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/png/1540450003.png" alt="")
                    li
                        img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1385174532.jpg" alt="")
                .name=  productTitle
                .detail
                    ul
                        li 供客製化OEM製作
                        li 這部輕巧、美觀的微電腦智慧型冰溫熱飲水機，直接連接自來水源，經過先進的濾淨系統及UV殺菌系統，只需輕輕按一下操作面板即可給您提供安全方便的健康飲水。
                    div
                        - var n = 1;
                        while n <= 11
                            div
                                img(src=`images/product/t-8/${n++}.jpg` alt="產品介紹")
                    .ct
                        //- a(onclick=`return gtag_report_conversion(${rakutenUrl});`, href=`${rakutenUrl}`)
                        //-     .action-btn
                        //-         i.fal.fa-shopping-bag
                        //-         | 立即購買
                        a(onclick="return gtag_report_conversion('https://line.me/R/ti/p/%40utb7360h'); ", href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                | 聯絡我們
            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 熱水容量
                        td 1230ml
                    tr
                        td 冰水容量
                        td 1050ml
                    tr
                        td UV燈管壽命
                        td 約一年
                    tr
                        td 電源規格
                        td AC110V/60HZ
                    tr
                        td 冰水消耗電力
                        td 100W
                    tr
                        td 熱水消耗電力
                        td 500W
                    tr
                        td 冰水溫度
                        td 約2~12°C
                    tr
                        td 熱水溫度
                        td 約92~98°C
                    tr
                        td 壓縮機冷媒
                        td R134a
                    tr
                        td UV燈管
                        td 飛利浦6W
                    tr
                        td 尺寸
                        td W30cm*D35cm*H33cm
                    tr
                        td 重量
                        td 14KG
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle
                            | 常見問題
                    a(href="https://drive.google.com/file/d/1Z8J-GXWqqTeDK4RQX3V3J6Lj8x66f4r-/view?usp=sharing", target="_blank")
                        .action-btn
                            i.fal.fa-wrench
                            | 操作手冊
            .main-box
                h5 安裝實例
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src="http://www.toyo-autech.com.tw/upload/images/T8WEB.jpg", alt="")
                    .flex-2
                        img(src="http://www.toyo-autech.com.tw/upload/images/%E9%8A%98%E7%B7%AF-%E7%B0%A1%E7%BE%A9%E7%B4%8B.JPG", alt="")
                    .flex-2
                        img(src="http://www.toyo-autech.com.tw/upload/images/%E9%8D%BE%E5%90%9B%E5%90%9B%20(2).jpg", alt="")
            .main-box
                h5
                    | 週邊配件
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src="http://www.toyo-autech.com.tw/upload/images/pc.jpg", alt="")
                        p
                            | 內置濾心說明
                            br
                            br
                            | 減低水中之氯、鉛、農藥及其他有害物質之含量
                            br
                            | 減低不佳的口感及氣味
                            br
                            | 含抗水垢成分
                            br
                            | 經NSF認證，符合NSF/ANSI 42標準降低微粒子含量、NSF/ANSI 60標準抑制水垢形成，及NSF/ANSI 61標準可放心使用之活性碳材質。
                            br
                            | 經歐盟危害性物質限制指令（RoHS）認可
                            br
                            | 濾心壽命：:約1000加侖
                            br
                            | 流速：0.5gpm
                            br
                            | 溫度：攝氏4.4-38度(華氏：40-100度)
                            br
                            | 使用壓力：25-125psi
