extends includes/base.pug
block variables
    - var productName = 'TA-701B'
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/TA-701B/cover.png" alt="複合式生飲淨水器 TA-701B")
                .name 複合式生飲淨水器<br>TA-701B
                .detail
                    ul
                        li 生飲淨水一開就來。
                        li 濾心可去除自來水中餘氯、部分重金屬、泥沙、雜直質。
                        li 通過台灣SGS國家生飲認證。
                        li 濾材符合美國NSF42標準、美國FDA檢測項目、日本食品分析中心JFRL認證。
                    div
                        - var n = 1;
                        while n < 2
                            div
                                img(src=`images/product/TA-701B/intro-${n++}.jpg` alt="產品介紹")
                    .ct
                        .price 建議售價：6700元
                        a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/product/TA-701B/');" href="https://www.rakuten.com.tw/shop/toyo-autech/product/TA-701B/")
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                | 聯絡我們
            .main-box
                h5 商品描述
                p 
                    | 生飲淨水即開即飲，搭配複合式生飲濾心，長效更安心。
                    br
                    | 通過台灣SGS國家生飲認證。
                    br
                    | 濾材符合美國NSF42標準、美國FDA檢測項目、日本食品分析中心JFRL認證。
                    br
                    br
                    | 【濾料日本原裝 三大核心技術】
                    br
                    | - 日本GE-Techno陶瓷濾料
                    br
                    | - 日本GE-Techno銀離子活性碳纖維
                    br
                    | - 日本エルベス不織布
                    br
                    | 可以除菌抑菌、濾除三氯甲烷、揮發性有機物、有害化學物質、水中重金屬鉛、銅、汞、石綿、農藥、泥沙雜質、塑膠微粒等，過濾孔徑為1Microns。
                    br
                    br
                    | 【注意事項】
                    br
                    | 1.適用一般自來水(請勿使用山泉水、地下水)
                    br
                    | 2.水壓不足的場合建議另加購加壓馬達
                    br
                    | 3.管路如需水電施工，費用另計
                    br
                    br
                    | 【保養及維護】
                    br
                    | 請務必依照濾心使用壽命時間，定期更換，確保您的飲用水品質。若未使用且靜置多日，使用前請先排放水3-5分鐘，有任何問題可詢問客服中心 0800-090-881。
            .main-box
                h5 商品內容
                p
                    | 複合式生飲淨水器 TA-701B :
                    br
                    | TA-701 複合式生飲濾心  X 1
                    br
                    | TA-903 PP棉濾心  X 1
                    br
                    br
                    | 標準配件:
                    br
                    | 無鉛鵝頸淨水龍頭   X 1
                    br
                    | 2道式濾心立架    X 1
            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 濾材
                        td GE-Techno碳纖維、日本銀離子、1μ(微米)陶瓷纖維、高密度日本食品級不織布
                    tr
                        td 過濾效能
                        td 可去除餘氯、抑制細菌、除異味、三氯甲烷、揮發性有機物、有害化學物質、管路重金屬鉛、銅、汞、石綿、農藥殘留等。
                    tr
                        td 過濾能力
                        td
                            | 約12個月(使用時間未達12個月，約20000L（餘氯<2ppm時）)
                            br
                            | ※依照各地水質、使用方式，壽命也會改變
                    tr
                        td 尺寸
                        td 約28(寬) 38(高) 10(深) cm
                    tr
                        td 重量
                        td 約3kg
                    tr
                        td 使用水溫
                        td 4~40℃以下
                    tr
                        td 適用水壓
                        td 14-42psi( 1-3 kg/cm²)
                    tr
                        td 濾料產地
                        td 日本原裝進口
                    tr
                        td 保存期限
                        td 未開封5年
            .main-box
                h5 週邊配件
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src="images/product/filter/TA-701.png" alt="TA-701")
                        p TA-701
                    .flex-2
                        img(src="images/product/filter/TA-903.png" alt="TA-903PP棉濾心")
                        p TA-903PP棉濾心
