extends includes/base.pug
block variables
    - var productName = 'TYH-202'
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src="images/product/TYH-202/cover.png" alt="")
                ul.img-list.flex-box
                    li
                        img(src="images/product/TYH-202/cover.png" alt="")
                .name 日本原裝-鹼性離子水超酸水生成器TYH-202
                .detail
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-1.png" alt="TOYO日本原裝鹼性離子水超酸性水生成器TYH-202")
                    h4 鹼性離子水五大好水健康特性
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-2.png" alt="TOYO鹼性離子水五大好水健康特性")
                    p
                        | 富含負電位水素(氫)分子排除體內自由基、鹼性水質幫助調整體質、小分子團水易吸收、礦物質離子化好吸收、潔淨無汙染不含氯氣/細菌/雜質/重金屬。
                    h4
                        | 日本醫學總會證實對人體健康有效
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-3.png" alt="鹼性離子水經日本厚生労働省認證！")
                    p
                        | TYH-202生成器經日本厚生労働省醫療用具承攬番號20500BZZ00519認證，對於慢性下痢、便秘、腸胃道異常發酵、胃酸過多，具有幫助。
                    h4
                        | 日本原裝4大商品特色
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-4.png" alt="TOYO日本原裝鹼性離子水超酸性水生成器4大商品特色")
                    h4
                        | 電解水生成器酸鹼值生活應用
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-5.png" alt="TOYO電解水酸鹼值生活應用好方便！")
                    p
                        | 健康の水 鹼性水PH8.0~10.0
                        br
                        |                         ■日常保健飲用。
                        br
                        |                         ■烹飪料理、沖泡茶葉。
                        br
                        |                         ■幫助減少便祕、腸胃道問題。
                        br
                        br
                        |                         美容の水 酸性水PH4.0~6.0
                        br
                        |                         ■洗顏、清潔手部。
                        br
                        |                         ■具收斂、洗淨效果。
                        br
                        br
                        |                         乾淨の水 中性淨水。 PH7.0
                        br
                        |                         ■服用藥物、沖泡奶粉。
                        br
                        br
                        |                         超鹼性水 PH11.0 (須添入食鹽不可飲用)
                        br
                        |                         ■去油汙、污漬。
                        br
                        |                         ■野菜、魚肉去腥除澀。
                        br
                        |                         ■具洗淨效果，減少洗劑用量。
                        br
                        br
                        |                         超酸性水 PH2.7以下(須添入食鹽不可飲用)
                        br
                        |                         ■可製作【次氯酸水除菌液】超酸性電解水。
                        br
                        |                         ■瞬間除菌、脫臭。
                        br
                        |                         ■溫和不刺激、無化學殘留。
                        br
                        |                         ■用於食器消毒後，建議將死亡的細菌(蛋白質)擦拭
                    h4
                        | 在家就能輕鬆製作次氯酸水除菌電解水!
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-6.png" alt="在家就能輕鬆製作次氯酸水除菌電解水!")
                    p
                        | 準備食鹽及可使用生成器連續製做次氯酸水比酒精、漂白水更安全! 除菌率99.9%的抗菌液!
                    h4 防疫、除菌，同時生成次氯酸水、強鹼性水
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-7.png" alt="防疫、除菌，同時生成次氯酸水、強鹼性水")
                    h4
                        | 超酸性水（次氯酸水）！消毒水大評比
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-8.png" alt="超酸性水（次氯酸水）！消毒水大評比")
                    h4
                        | 超酸性水（次氯酸水）特性
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-9.png" alt="超酸性水（次氯酸水）特性")
                    h4
                        | 超酸性電解水安全性測試
                    p
                        img(src="images/product/TYH-202/Hydrogen-water-Alkaline-ionized-water-HClO-TYH202-10.png" alt="日本財團法人機能水研究協會超酸性電解水安全性測試")
                    p
                        b 超酸性電解水不是鹽酸不會腐蝕皮膚！
                        | 超酸性水氫離子濃度之 PH 值為 2.7以下
                        |                         所以超酸性電解水是「酸性」而不是「酸」，不會像鹽酸腐蝕皮膚。其安全性經日本財團法人機能水研究協會證實。
                    .ct
                        .price
                            | 建議售價：52800元
                        a(onclick="return gtag_report_conversion('https://www.rakuten.com.tw/shop/toyo-autech/product/TYH-202/');" href="https://www.rakuten.com.tw/shop/toyo-autech/product/TYH-202/")
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5
                    | TYH-202生成次氯酸水步驟
                .flex-box
                    iframe(src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftoyoautech%2Fvideos%2F170696884346659%2F&show_text=0&width=371" width="371" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true")
            .main-box
                h5
                    | 商品描述
                p
                    | 【日本原裝進口】
                    br
                    | 日本製生成器，品質安心，全球23國家40地區，月銷150000台
                    br
                    | 日本厚生労働省醫療用具承認番號20500BZZ00519號
                p
                    | 水素水5大好處】
                    br
                    | -富含負電位水素(氫)分子排除體內自由基。
                    br
                    | -鹼性水質幫助調整體質。
                    br
                    | -小分子團水易吸收。
                    br
                    | -礦物質離子化好吸收。
                    br
                    | -潔淨不含氯氣/細菌/雜質/重金屬。
                p
                    | 【多段PH值電解水素水】
                    br
                    | -鹼性水日常保健飲用。
                    br
                    | -酸性水洗顏美容收斂。
                    br
                    | -中性水服藥、幼兒泡牛奶。
                    br
                    | -強鹼性水去油汙去腥減少洗劑。
                    br
                    | -強酸性水(電解式次氯酸水)除菌、消臭、食器清洗。
                p
                    | 【保養及維護】
                    br
                    | 建議使用3年以上，需回原廠進行保養維護，將清洗電解槽、更換管線零配件。未使用靜置2周以上，使用前請先手動逆洗30秒-60秒，並排放水10-15分鐘，若仍有狀況需回原廠進行保養維護，靜置一個月以上可另行預約客服0800-090-881到府酸洗及管線檢查。

            .main-box
                h5 商品內容
                p 鹼性離子水生成器主機、日本原裝本體濾心、中文商品說明書、日文商品說明書、液晶顯示中日文對照表、電解用添加食品級鈣粉、酸性水龍頭、pH檢測液、酸鹼性水分歧栓、一年保證書。
            .product-info.main-box
                h5 商品規格
                table
                    tr
                        td 型號
                        td TOYO TYH-202
                    tr
                        td 電源
                        td AC110V 50/60HZ
                    tr
                        td 消耗電力
                        td 約200W
                    tr
                        td 尺寸
                        td W26.4cm X D19.5cm X H38.8cm
                    tr
                        td 重量
                        td 5.0KG
                    tr
                        td 電解方式
                        td 自來水過濾供給連續生成
                    tr
                        td 電解能力切換
                        td
                            | 鹼性離子水3段/中性淨水1段/
                            br
                            |                             酸性離子水1段/強酸性水/強鹼性水
                    tr
                        td 電解材質
                        td 鈦鍍白金電極板
                    tr
                        td 電解生成量
                        td 3～8Ｌ/分(視原水水壓而定)
                    tr
                        td 電極洗淨
                        td 自動洗淨（洗淨時由微電腦控制）
                    tr
                        td 濾材
                        td 粒狀抗菌活性碳+亞硫酸鈣
                    tr
                        td 游離殘留氯
                        td 總濾過水量12000L以上除去率80% JIS S3210試驗
                    tr
                        td 無法除去成份
                        td 溶於原水中的鹽份及金屬
                    tr
                        td 壽命
                        td 約一年，或通水12000L後(依水質差異有所不同)
                    tr
                        td 電源裝置
                        td 保險絲125V 5A
                    tr
                        td 保護裝置
                        td 熱水警報器，溫度保護，過電流(電壓)保護
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle  常見問題
                    a(target="_blank" href="https://drive.google.com/file/d/1DeNrwg3B98CkuwS0U5KAzS7DyUFynojg/view?usp=sharing")
                        .action-btn
                            i.fal.fa-wrench  操作手冊
            .main-box
                h5 週邊配件
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src="images/product/accessories/TA-800T.jpg" alt="TA-800T")
                        p TA-800T
                    .flex-2
                        img(src="images/product/accessories/MW-7000C.jpg" alt="MW-7000C（日製）")
                        p MW-7000C 主體濾心（日製）
                    .flex-2
                        img(src="images/product/accessories/2s.png" alt="OMAMORI - 2S")
                        p OMAMORI - 2S
                    .flex-2
                        img(src="images/product/accessories/3s.png" alt="OMAMORI - 3S")
                        p OMAMORI - 3S
                    
