extends includes/base.pug
block variables
    - var rakutenUrl = `https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop`
block js
    script(src="./js/product.js")

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")

        .main-container
            include ./product-header.pug
            .main-box.product-box
                #product9
                    ul
                        li SPACO/氣泡水機
                    .flex-box
                        .each-product.flex-3
                            a(href="tys-200.html")
                                img(src="images/product/tys-200/cover.png" alt="不鏽鋼全戶式除氯系統 TYS-200")
                            .title
                                a(href="tys-200.html") 不鏽鋼全戶式除氯系統 TYS-200
                        .each-product.flex-3
                            a(href="tyr-250.html")
                                img(src="images/product/tyr-250/cover.png" alt="全戶式軟水系統 TYR-250")
                            .title
                                a(href="shower.html") 全戶式軟水系統 TYR-250
                        .each-product.flex-3
                            a(href="tyr-450s.html")
                                img(src="images/product/tyr-450s/cover.png" alt="全戶式淨軟水除氯系統 TYR-450S")
                            .title
                                a(href="TYS-101.html") 全戶式淨軟水除氯系統 TYR-450S
                        .each-product.flex-3.mij
                            a(href="shower.html")
                                img(src="http://www.toyo-autech.com.tw/cache/cutw_320h_320/jpg/1385515652.jpg", alt="家用過濾系統/除氯沐浴器 ECO-303")
                            .title
                                a(href="shower.html") 家用過濾系統/除氯沐浴器 ECO-303
                        .each-product.flex-3.new
                            a(href="TYS-101.html")
                                img(src="images/product/TYS-101/cover.png", alt="除氯省水蓮蓬頭 TYS-101")
                            .title
                                a(href="TYS-101.html") 除氯省水蓮蓬頭 TYS-101

