.each-product
    > a
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        aspect-ratio: 1
        position: relative
        img
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: auto
            max-width: 210px
            max-height: 210px
        &::before
            content: ""
            display: block
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            width: 210px
            height: 210px
            background-color: #f9f9f9

.video-container
    width: 100%
    max-width: 800px
    aspect-ratio: 16 / 9
    margin: auto
    iframe
        width: 100%
        height: 100%
        display: block
        border: none